<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="/play"><i class="fa fa-angle-double-right"></i>Play Station 4</a></li>
                    <li><a href="/xbox"><i class="fa fa-angle-double-right"></i>Xbox</a></li>
                    <li><a href="/videojuegops4"><i class="fa fa-angle-double-right"></i>VideoJuegos PS4</a></li>
                    <li><a href="/Videojuegoxbox"><i class="fa fa-angle-double-right"></i>VideoJuegos Xbox</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Redes Sociales</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.facebook.com/katherin.centeno.1"><i class="fa fa-angle-double-right"></i>Facebook</a></li>
                    <li><a href="https://www.youtube.com/channel/UCbQfEhQddFQfx5T5ZLibAuQ"><i class="fa fa-angle-double-right"></i>Youtube</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quienes somos</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.facebook.com/rodrigo9.garnica"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="https://www.facebook.com/katherin.centeno.1"><i class="fa fa-angle-double-right"></i>Katherine Centeno y Rodrigo Garnica</a></li>
                    <li><a href="/developer"><i class="fa fa-angle-double-right"></i>Desarrollador</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6"><a class="text-green ml-2" href="https://www.youtube.com/mohsingram" target="">Centeno & Garnica </a> &copy All
                    right Reversed.</p>
            </div>
        </div>
    </div>
</section>
<!-- ./Footer -->